:root {
    --albumFontColor: {{albumFontColor}};
    --albumFontSize: {{albumFontSize}}px;
    --albumFontWeight: {{albumFontWeight}};

    --artHeight: {{artWidth}}px;
    --artWidth: {{artWidth}}px;
    --artTopLeftBorderRadius: {{artTopLeftBorderRadius}}px;
    --artTopRightBorderRadius: {{artTopRightBorderRadius}}px;
    --artBottomLeftBorderRadius: {{artBottomLeftBorderRadius}}px;
    --artBottomRightBorderRadius: {{artBottomRightBorderRadius}}px;
    --artMarginTop: {{artMarginTop}}px;
    --artMarginRight: {{artMarginRight}}px;
    --artMarginBottom: {{artMarginBottom}}px;
    --artMarginLeft: {{artMarginLeft}}px;

    --artistFontColor: {{artistFontColor}};
    --artistFontSize: {{artistFontSize}}px;
    --artistFontWeight: {{artistFontWeight}};

    --fontFamily: {{fontFamily}};

    --titleFontColor: {{titleFontColor}};
    --titleFontSize: {{titleFontSize}}px;
    --titleFontWeight: {{titleFontWeight}};

    --widgetHeight: {{widgetHeight}}px;
    --widgetWidth: {{widgetWidth}}px;
    --widgetBackgroundColor: {{widgetBackgroundColor}};
    --widgetBorderRadius: {{widgetBorderRadius}}px;

    --widgetShadowXOffset: {{widgetShadowXOffset}}px;
    --widgetShadowYOffset: {{widgetShadowYOffset}}px;
    --widgetShadowBlurRadius: {{widgetShadowBlurRadius}}px;
    --widgetShadowColor: {{widgetShadowColor}};

    --textAreaMarginTop: {{textAreaMarginTop}}px;
    --textAreaMarginRight: {{textAreaMarginRight}}px;
    --textAreaMarginBottom: {{textAreaMarginBottom}}px;
    --textAreaMarginLeft: {{textAreaMarginLeft}}px;
}

html {
    font-family: var(--fontFamily);
}

.flex-container {
    display: flex;
}

.flex-container.no-wrap {
    flex-wrap: nowrap;
}

.flex-container.justify-start {
    justify-content: flex-start;
}

.flex-container.vertically-center {
    align-items: center;
}

.widget {
    height: var(--widgetHeight);
    width: var(--widgetWidth);

    background-color: var(--widgetBackgroundColor);
    border-radius: var(--widgetBorderRadius);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(
        var(--widgetShadowXOffset)
        var(--widgetShadowYOffset)
        var(--widgetShadowBlurRadius)
        var(--widgetShadowColor)
    );
}

img {
    display: none;
}

img[src] {
    display: block;
}

.art-stack,
.art {
    height: var(--artHeight);
    width: var(--artWidth);

    border-top-left-radius: var(--artTopLeftBorderRadius);
    border-top-right-radius: var(--artTopRightBorderRadius);
    border-bottom-left-radius: var(--artBottomLeftBorderRadius);
    border-bottom-right-radius: var(--artBottomRightBorderRadius);
}

.art-stack {
    flex-grow: 0;

    position: relative;
    margin-top: var(--artMarginTop);
    margin-right: var(--artMarginRight);
    margin-bottom: var(--artMarginBottom);
    margin-left: var(--artMarginLeft);
}

.art {
    position: absolute;
    transition: opacity 1s linear;
}

.transparent {
    opacity: 0;
}

.info {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: var(--textAreaMarginLeft);
    margin-right: var(--textAreaMarginRight);
}

.info, .artist, .title, .album {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    color: var(--artistFontColor);
    font-size: var(--artistFontSize);
    font-weight: var(--artistFontWeight);
}

.title {
    color: var(--titleFontColor);
    font-size: var(--titleFontSize);
    font-weight: var(--titleFontWeight);
}

.album {
    color: var(--albumFontColor);
    font-size: var(--albumFontSize);
    font-weight: var(--albumFontWeight);
}

.hidden {
    display: none;
}