:root {
    --albumArtBorderRadius: {{albumArtBorderRadius}}px;
    --albumArtHeight: {{albumArtHeight}}px;
    --albumArtWidth: {{albumArtWidth}}px;
    --albumArtSpaceAround: {{albumArtSpaceAround}}px;
    --widgetBackgroundColor: {{widgetBackgroundColor}};
    --widgetBorderRadius: {{widgetBorderRadius}}px;
}


.widget {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--widgetBackgroundColor);
    border-radius: var(--widgetBorderRadius);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: none;
}

img[src] {
    display: block;
}

.art-stack,
.art {
    height: var(--albumArtHeight);
    width: var(--albumArtWidth);

    border-radius: var(--albumArtBorderRadius);
}

.art-stack {
    position: relative;
    margin: var(--albumArtSpaceAround);    
}

.art {
    position: absolute;
    transition: opacity 1s linear;
}

.transparent {
    opacity: 0;
}
